[submodule "vendor/bifrost"]
	path = vendor/bifrost
	url = https://github.com/buiilding/bifrost.git
	branch = dev
[submodule "vendor/windie-landing-2nd"]
	path = vendor/windie-landing-2nd
	url = https://github.com/buiilding/windie-landing-2nd.git
	branch = main
[submodule "vendor/windie-inspector"]
	path = vendor/windie-inspector
	url = https://github.com/buiilding/windie-inspector.git
